@using NLightning.Bolt11.Models
@inherits LayoutComponentBase

<NavMenu/>
<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    <main class="bd-main order-1">
        @Body
    </main>
</div>
<footer class="bd-footer py-2 py-md-3 mt-3 bg-body-tertiary">
    <div class="container py-2 py-md-3 px-2 px-md-1 text-body-secondary">
        <div class="row">
            <div class="col-lg-3 mb-1">
                Níckolas Goline © 2024 - 2025
            </div>
        </div>
    </div>
</footer>

@code{
    protected override void OnInitialized()
    {
        // Warmup call to load needed wasm in memory
        _ = Task.Run(() =>
        {
            // Decode a minimal invoice
            return _ = Invoice.Decode("lnbc1pvjluezsp5zyg3zyg3zyg3zyg3zyg3zyg3zyg3zyg3zyg3zyg3zyg3zyg3zygspp5qqqsyqcyq5rqwzqfqqqsyqcyq5rqwzqfqqqsyqcyq5rqwzqfqypqdpl2pkx2ctnv5sxxmmwwd5kgetjypeh2ursdae8g6twvus8g6rfwvs8qun0dfjkxaq9qrsgq357wnc5r2ueh7ck6q93dj32dlqnls087fxdwk8qakdyafkq3yap9us6v52vjjsrvywa6rt52cm9r9zqt8r2t7mlcwspyetp5h2tztugp9lfyql");
        });
    }
}